{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1>Сюда нужно что-то добавить</h1>
<!--Carousel-->
    <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1">1</button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2">2</button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3">3</button>
              </div>

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-block w-100">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <img src="{% static 'carousel/img1.jpg' %}" class="w-100" alt="Image 1">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="d-block w-100">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <img src="{% static 'carousel/img2.jpg' %}" class="w-100" alt="Image 2">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="d-block w-100">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <img src="{% static 'carousel/img3.jpg' %}" class="w-100" alt="Image 3">
                      </div>
                    </div>
                  </div>
                </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>

              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <div class="col-lg-12 col-md-12 text-center mt-4">
              <button type="button" class="btn btn-outline-primary btn-lg my-4">Кнопка для чего-то</button>
            </div>
      </div>
  </div>
{% endblock content %}